/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --buttn-color: #353430;
  --main-text-color: #FF8DCB;
  --main-title-color: #FFC2E6;
  --main-title-shadow: #FF0070;
  --accent-color: #FF8DCB;
  --transparent-accent-color: #FF007040;
  --block-title: #353430;
  --text-color: #353430;
  --dominant-color: #FFF1F7;
  --description: #000028;
  --ttl: #000028;
  --sbttl: #000028;
  --accent-font: 'IBM Plex mono bold';
  --main-font: 'IBM Plex mono';
  --bg-page-img: url(../images/cover-image-light.png);
  --rec: transparent;
}

@media (prefers-color-scheme: light) {

  :root {
    --buttn-color: #353430;
    --main-text-color: #FF8DCB;
    --main-title-color: #DB00FF;
    --accent-color: #FF8DCB;
    --transparent-accent-color: #FF007040;
    --block-title: #353430;
    --text-color: #353430;
    --dominant-color: #FFF1F7;
    --description: #000028;
    --ttl: #000028;
    --sbttl: #000028;
    --accent-font: 'IBM Plex mono bold';
    --main-font: 'IBM Plex mono';
    --bg-page-img: url(../images/cover-image-light.png);
    --rec: transparent;
  }

} 

@media(max-width: 1023.9px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}

.decor_element {
  color: var(--rec);
}

.decor_element::after {
  background-color: var(--rec);
  box-shadow: 0px 0px 4px 2px var(--rec);
}
