/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  min-inline-size: 374.99px;
  max-inline-size: 1024.99px;
  inline-size: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: var(--bg-page-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var( --dominant-color);
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  inline-size: 100%;
  min-block-size: 668px;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  box-sizing: border-box;
  justify-items: end;
}

@media (min-width: 767.9px) {
  .header {
  padding: 20px 20px 20px 0px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 640px;
  }
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

/* Top edge */
.decorated-zone::before {
  border-block-start: 1px var(--edge) solid;
  border-inline-end: 1px var(--edge) solid;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
}

/* Bottom edge */
.decorated-zone::after {
  border-block-end: 1px var(--edge) solid;
  border-inline-start: 1px var(--edge) solid;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

@media (min-width: 768px) {
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}

/* REC */
.decor_element {
  position: absolute;
  color: var(--accent-color);
  top: 10px;
  right: 19px;
  font-family: var(--main-font), monospace;
  font-size: 18px;
}

@media (min-width: 768px) {
  .decor_element {
    top: 20px;
    right: 29px;
  }
}

.decor_element::after {
  display: flex;
  content: '';
  border-radius: 50%;
  float: right;
  margin-inline-start: 10px;
  margin-block-start: 7px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-self: center;
  font-size: 18px;
  inline-size: calc(100% - 20px);
}

@media (min-width: 768.09px) {
  .header__theme-menu {
    justify-content: center;
    align-self: start;
    margin-inline-start: 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin-inline-start: 0px;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: repeat(3, 26px);
  row-gap: 10px;
}

@media (min-width: 768.09px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: 26px;
    column-gap: 10px;
  }
}

.header__theme-menu-item {
  line-height: 18px;
  inline-size: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header__theme-menu-button {
  inline-size: 100%;
  block-size: 100%;
  font-family: var(--main-font), monospace;
  color: var(--buttn-color);
  text-transform: lowercase;
  flex-shrink: 1;
}

/* Button  condition */

.header__theme-menu-button:hover {
  border:1px solid var(--transparent-accent-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--buttn-color);
  pointer-events: none;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--buttn-color);
  border-block-start: none;
  border-inline-start: none;
  border-inline-end: none;
  outline: none;
}

.header__title {
  font-family: var(--main-font), monospace;
  font-weight: 700;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--main-title-shadow);
  line-height: 95.7px;
  align-self: start;
  justify-self: start;
  font-size: clamp(40px, 0.5625rem + 14.4531vw, 60px);
}

@media(min-width: 374.9px) and (max-width: 768px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media(min-width: 769px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4532vw, 9.8125rem);
  }
}

.header__description {
  font-family: var(--main-font), monospace;
  font-weight: 700;
  color: var(--description);
  font-size: 18px;
  line-height: 23.4px;
  grid-template-rows: 2fr;
  background-color: var(  --accent-color);
  inline-size: clamp(22.188rem, 2.29vw + 21.651rem, 22.75rem);
  align-self: center;
}

@media (min-width: 768.09px) {
  .header__description {
    min-inline-size: 491px;
    margin-block-start: 20px;
  }
}

/* Main block */

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--link);
}

.link:focus {
  outline: 1px solid var(--link);
  border-block-end: none;
}

.link:focus-visible {
  outline: 1px solid var(--link);
}

.main {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-block-start: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
  gap: clamp(3.125rem, 7.634vw + 1.336rem, 5rem);
  padding-inline-start: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  padding-right:clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
}

.main__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__block-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__block-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .column-block {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .column-block-description {
    flex-direction: row;
  }
}

.main__block-title {
  display: flex;
  color: var(--ttl);
  font-family: var(--main-font), monospace;
  font-weight: 700;
  flex-wrap: wrap;
  max-inline-size: 375px;
  line-height: 23.4px;
}

@media (width: 768px) {
  .main__block-title {
   min-inline-size: 236px;
   max-inline-size: 237px;
  }
}

@media (width: 769px) {
  .main__block-title {
   inline-size: clamp(14.75rem, 30.859vw - 0.063rem, 19.688rem);
  }
}

@media (width: 1024px) {
  .main__block-title {
   min-inline-size: 315px;
   max-inline-size: 316px;
  }
}

@media (width: 1024px) {
  .description-columm {
    min-inline-size: 315px;
  }
}
 
.main__block-info-subtitle,
.main__block-info-sub-subtitle {
  background-color: var(--accent-color);
  color: var(--sbttl);
}

.main__block-info-subtitle {
  font-family: var(--main-font), monospace;
  font-weight: 700;
  line-height: 23.4px;
}

.main__block-info-sub-subtitle {
  font-family: var(--main-font), monospace;
  font-weight: 400;
  line-height: 23.4px;
}


.main__block-info-description {
  font-family: var(--main-font), monospace;
  color: var(--text-color);
  font-weight: 400;
  line-height: 23.4px;
}

/* Galery */

.galery {
  row-gap: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  padding-block-end: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
}

.main__galery-cards {
  display: flex;
  flex-direction: column;
  gap: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
}

@media (min-width: 768px) {
  .main__galery-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
  }

  .sunset {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .icecream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }
  
  .player {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }
  
  .books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  .street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    object-fit: cover;
    object-position: center;
  }
}

.main__galery-card {
  display: flex;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Footer */

.footer {
  display: flex;
  min-block-size: 668px;
  block-size: 100vh;
  inline-size: 100%;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  display: flex;
  font-family: var(--main-font), monospace;
  font-weight: 700;
  color: var(--main-title-color);
  text-shadow: var(--accent-color) 2px 2px;
}

@media(min-width: 374.9px) and (max-width: 768px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media(min-width: 769px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media(min-width: 1024px) {
  .footer__title {
    text-shadow: var(--main-title-shadow) 2px 2px;
  }
}