/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  min-width: 374.99px;
  max-width: 766.99;
}

.header {
  box-sizing: border-box;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr; 
  height: 100vh;
  width: 100%;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media(width >= 376.001px) {
  .header {
    padding:20px;
  }
}

.header::before {
  content: '';
  display: block;
  width: 25px;
  height: 21px;
  border-top: 1px var(--accent-color) solid;
  border-right: 1px var(--accent-color) solid;
  top: -25px;
}

.header::after {
  content: '';
  display: block;
  width: 25px;
  height: 21px;
  border-bottom: 1px var(--accent-color) solid;
  border-left: 1px var(--accent-color) solid;
  top: -25px;
}


.decor_element {
  position: absolute;
  left: calc(100vw - 63px);
  color: var(--accent-color)
  
}

.decor_element::after {
  display: flex;
  content: '';
  display: block;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
  margin-top: 5px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

@media(width >= 375.99px) {
  .header__theme-menu {
    justify-content: center;
    align-items: start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media(width >= 375.99px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-family: var(--main-font);
  color: var(--accent-color);
  text-transform: lowercase;
}

.header__title {
  font-family: var(--accent-font, sans-serif);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 100px;
  align-self: start;
}

@media(min-width: 375px) and (max-width: 768px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media(width >= 376px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__description {
  font-family: var(--accent-font);
  color: var(--title-color);
  font-size: 18px;
  line-height: 23.4px;
  grid-template-rows: 2fr;
  background-color: var(--accent-color);
  width: calc(100vw - 20px);
  max-width: 364px;
  height: 117px;
  align-self: center;
  justify-self: end;
}

