/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --buttn-color: #FF0070;
  --main-text-color: #FF0070;
  --main-title-color: #DB00FF;
  --main-title-shadow: #FF0070;
  --accent-color: #FF0070;
  --edge: #FF0070;
  --transparent-accent-color: rgba(255, 0, 112, 0.4);
  --block-title: #FF0070;
  --text-color: #F1B2CE;
  --dominant-color: #000028;
  --description: #000028;
  --ttl: #FF0070;
  --sbttl: #000028;
  --main-font: 'IBM Plex mono';
  --bg-page-img: url(../images/cover-image-dark.png);
  --rec: #FF0070;
  --link: #F1B2CE;
}